@model Avengers.Models.Pays

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pays</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pays_nom)
        </dt>
        @if (Model.Files.Any(f => f.FileType == FileType.Drapeau))
        {
            <dt>
                Drapeau
            </dt>
            <dd>
                <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Drapeau).FileId" alt="drapeau" />
            </dd>
        }

        <dd>
            @Html.DisplayFor(model => model.Pays_nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaysID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
