@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">

        <h3>Lancer une <img src="https://i.ibb.co/937mkPL/logo.png" width="50" height="50">lerte</h3>

        <p><a href="~/Incidents/Create" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">ALERTE</a></p>
    </div>

